
*.exe
*.out
*.o
*.a
*.so
*.dll

#java
*.class
*.war
*.ear
*.jar

#python
*.pyc
__pycache__/

#eclipse
*/.classpath
*/.project
*/.settings

#intellij
out/
.idea/
target/
build/
*.log

#extra
test/
*.ppm
*.db

#golang
go.mod
go.sum
