
*.exe
*.o
*.a
*.so
*.dll

#java
*.class
*.war
*.ear
*.jar

#python
*.pyc
*/__pycache__/


#eclipse
*/.classpath
*/.project
*/.settings

#intellij
*/.idea/
*/target/
*/build/

#gradle
*/.gradle/
*.log
